<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Great Number Game</title>
</head>
<body>
    
    <div class="container">
        <h1 >Welcome to the Great Number Game!</h1>
        <p>I am thinking of anumber between 1 and 100</p>

        <div >
            <div >
                <form action="/guess" method="post">
                    <label for="number">Take a guess!</label>
                    <input type="text" name="number" id="number" >
                    <input type="submit" value="Guess">
                </form>
            </div>
        </div>

            {{session.response|safe}}

    </div>

</body>
</html>